html, body {
    width: 800px;
    height: 600px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    max-width: 100%;
    display: flex;
}

// todo: this breaks desktop :(
//@media (orientation: portrait) {
//    html, body {
//        width: 100%;
//        height: 100%;
//    }
//}

html {
    background: linear-gradient(180deg, rgb(255, 152, 0) 0%, rgb(255, 232, 49) 55%, rgb(255, 249, 156) 100%) fixed;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}
